
/* *{
   color: white;
   margin: 0;
   padding: 0;
   width: 100%;  
   font-family: 'Josefin Sans', sans-serif;
}



.pendientes{
    width: 100%;
    display: flex;
    height: 100px;
    flex-direction: column;
    background-color: #272B34;
    text-align: start;
    justify-content: center;
    padding-left: 20px;
   
}

.pendientes h1{
    padding-top: 10px;
    font-size: large;
}

.pendientes p{
    opacity: 50%;
    font-size: small;
}



/* ------------*/

/* .notes{
    background-color:  #313642 ;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding-top: 15px;
}



.addNote{
    width: 100%;
    display: flex;
    flex-direction: row;
    text-align: start;
    justify-content: start;
    padding-left: 60px;
}

.addNote input{
    color: white;
    background-color: #3E4553 ;
    height: 60px;
    width: 63%;
    border-radius: 50px;
    border: none;
    text-align: start;
    padding-left: 25px;
    color: rgba(255, 255, 255, .6);
}

.addNote button{
    background-color: #2479A9;
    border-radius: 100%;
    height: 60px;
    width: 60px;
    border: none;
    font-size: x-large;
    margin-left: 10px;
}

/* ------------*/

/* .porHacer{
    width: 100%;
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    text-align: start;
    justify-content: start;
    padding-left: 60px;
    
}

.porHacer h1{
    font-size: larger;
}

.todos{
    padding-top: 10px;
    text-align: start;
}


.input1{
    border-radius: 50px;
    background-color: #3E4553;
    width: 80%;
    height: 60px;
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
    display: flex;
    justify-content: start;
    padding-left: 20px;
    align-items: center;
}


input[type='checkbox'] {
    border-radius: 3px;
    height: 20px;
    appearance: none;
    border: white solid 1px;
    width: 20px;
    opacity: 50%;
    color: white;
}

input[type="checkbox"]:checked {
    background-color: #3E4553;
    background-image: url('https://www.citypng.com/public/uploads/preview/hd-white-tick-mark-icon-transparent-background-31623251046kjwkdqb7vd.png');
    background-size: contain;
}


.input1 label {
    padding-left: 6px;
    opacity: 60%;
}

.fin{
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: start;
    justify-content: start;
    padding-left: 60px;
}

.fin h1{
    font-size: larger;
    padding-bottom: 10px;
}



.und{
    text-decoration:line-through;
}  */


*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;   
}
header{
    width: 100%;
    height: 100px;
    background: #2b3349;
    padding: 20px;
    box-sizing: border-box;
}
header>h1,h4{
    color: rgba(255, 255, 255, .9);
    font-weight: 300;
}

section{
    width: 100%;
    height: 100%;
    background: rgba(30, 41, 65, 0.9);
    position: fixed;
    padding: 20px;
    box-sizing: border-box;
}

article{
    width: 100%;
    position: relative;
    float: left;
}

    article>input{
        width: calc(100% - 60px);
        height: 40px;
        border-radius: 25px;
        border: none;
        padding: 0px 15px;
        box-sizing: border-box;
        outline: none;
        background: rgba(105, 110, 122, 0.4);
        color: rgba(255, 255, 255, .8);
    }
    article>input::placeholder{
        color: rgba(255, 255, 255, 0.959);
    }
    article>button{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        color: white;
        background: #2479A9;
        border: none;
        outline: none;
        font-size: 22px;
        font-weight: 500;
        margin-left: 10px;
    }
 section>h3{
    color: rgba(255, 255, 255, .9);
    font-weight: 300;
 }  
 label{
    margin-left: 20px;
    color: rgba(255, 255, 255, .9);
    font-weight: 300;
 } 
 .end{
    text-decoration:line-through;
 }

.tarea{
    margin-top: 20px;
    border-radius: 50px;
    background: rgba(105, 110, 122, 0.4);
    width: 95%;
    height: 60px;
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
    display: flex;
    justify-content: start;
    padding-left: 20px;
    align-items: center;
}
input[type='checkbox'] {
    appearance: none;
    height: 20px;    
    width: 20px;
    opacity: 35%;
    border: white solid 1px;
}

.check{
    width: 20px;
    height: 20px;
    border-radius: 2px;
    border:2px solid white;
    float: left;
    margin-top: 12px;
    margin-right: 10px;
}

.terminado .tarea{
    opacity: .2;
    text-decoration: line-through;
}

.terminado .check{
    background: white;
    box-shadow: inset 4px 4px rgba(52, 73, 94,.9), inset -4px -4px rgba(52, 73, 94,.9);
}